/* imports */
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

/* common */
html{
  scroll-behavior: smooth;
}
body{
  background-color: #eee;
  padding: 30px 15px 15px;
}


/* header */
header .logo{
  display: flex;
  align-items: center;
}

.mainMenu > ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  box-shadow: 1px 1px 3px #a5a5a5;
  border-radius: 5px;
  overflow: hidden;
}

.mainMenu > ul > li{
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 10px;
}
.mainMenu .link{
  color: #6fc3de;
  font-weight: 600;
}

main{
  margin-top: 10px;
  display: grid;
  gap: 10px;
}

main > section{
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px #a5a5a5;
  padding: 10px 20px;
  border-radius: 5px;
}
#help{
  display: none;
}

footer{
  display: flex;
  justify-content: center;
}

@media (min-width: 678px){
  .mainMenu > ul{
    background-color: #fff;
    flex-direction: row;
    justify-content: flex-start;
  }
  .mainMenu > ul > li{
    width: unset;
    padding: 20px;
  }
  .mainMenu .link{
    color: grey;
    text-decoration: none;
  }
  #help{
    display: unset;
  }

  main{
    grid-template: 1fr 2fr / 1fr 6fr;
  }
  #content{
    grid-row: span 2;
  }
}