.toursCards{
  display: flex;
  gap: 10px;
  overflow: scroll;  

  .toursCard{
    height: 500px;
    width: 450px;

    .tourImg{
      height: 63%;
      width: 100%;
      position: relative;

      img{
        height: 100%;
        width: 100%;
      }
      p{
        position: absolute;
        top: 30px;
        padding: 5px;
        left: 0;
        margin: 0;
        background-color: #722372;
      }
    }
  }
}